@media screen and (max-width: 600px) {

  .header-nav ul{
    width: 90%;
  }

  .btn {
    margin-right: 5px;
    padding: 2px 5px;
  }

  .works-wrapper {
    flex-direction: column;
  }

  .works {
    width: 90%;
    margin: 0 auto 60px;
  }

  
}