/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/*       <------------------     ここからCSS     ------------------->          */


.header-logo {
  width: 15%;
  margin: 0 auto;
}

.header-logo a img {
  width: 100%;
  padding: 8px 0;
}

header .top-img {
  width: 100%;
  margin-bottom: 60px;
}

.header-nav {
  margin-bottom: 60px;
}

.header-nav ul{
  width: 60%;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: center;
}

.header-nav ul li{
  margin-right: 40px;
}

.header-nav ul li:last-child {
  margin-right: 0;
}

.btn {
  display: inline-block;
  color: #000;
  font-size: 12px;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 10px;
  transition: all .4s;
}

.btn:hover {
  color: #fff;
  background-color: #808080;
}

section {
  padding-bottom: 60px;
}

.subtitle {
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  font-family: Lucida Console, Courier, monospace;
  margin-bottom: 60px;
}

.subtitle::before {
  display: inline-block;
  content: "";
  background-color: #808080;
  height: 1px;
  width: 10%;
  vertical-align: 8px;
  margin-right: 20px;
}

.subtitle::after {
  display: inline-block;
  content: "";
  background-color: #808080;
  height: 1px;
  width: 10%;
  vertical-align: 8px;
  margin-left: 20px;
}

.works-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.works {
  width: 30%;
  margin-bottom: 30px;
}

.works a {
  text-decoration: none;
  color: #000;
  transition: all .3s;
}

.works a:hover {
  opacity: .7;
}

.works img {
  width: 100%;
  box-shadow: 2px 2px 10px #808080;
}

.works ul {
  list-style: none;
}

.works h2 {
  text-align: center;
  margin: 10px 0 16px;
}

.works h2 span {
  font-size: 12px;
}

.works p {
  font-size: 12px;
  line-height: 16px;
  color: #696969;
}

.top-btn {
  width: 32px;
  margin: 0 auto;
}

.top-btn img {
  width: 100%;
}

footer {
  background-color: #d3d3d3;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
}

.footer-wrapper a {
  margin: 60px 30px 0 0;
}

.footer-wrapper a:last-child {
  margin-right: 0;
}

.footer-wrapper img {
  width: 32px;
}

footer p{
  font-size: 12px;
  color: #696969;
  text-align: center;
  padding: 30px 0 30px;
}

.sorry {
  display: block;
  width: 90%;
  margin: 0 auto;
  border: 1px dotted #000;
  padding: 20px;
}