@media screen and (max-width: 900px) {
  
  .header-wrapper {
    border: none;
    width: 100%;
    margin: 0;
  }

  .header-wrapper h1 {
    padding: 15px 0; 
    font-size: 20px;
  }

  .header-nav {
    overflow: hidden;
  }

  main {
    width: 100%;
    display: block;
    margin: 0;
  }


  .main-img {
    width: 100vw;
    margin: 0;
  }

  .main-img img {
    width: 100%;
  }

  .main-contents {
    width: 90%;
    margin: 0 auto;

  }
  
  .main-h2 {
    width: 100%;
    margin: 10px auto 0; 
    border-top: 1px solid;
    border-bottom: 1px solid;
    display: block;
  }

  footer {
    margin-top: 60px;
  }
}

@media screen and (max-width: 600px) {

  .header-nav {
    align-items: center;
  }

  .header-nav .header-left {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    background: #fff;
  }

  .header-nav .header-left.open {
    top: 0;
  }

  .header-nav .header-left ul {
    flex-direction: column;
    padding: 0;
    text-align: center;
  }

  .header-nav .header-left ul li {
    font-size: 18px;
    line-height: 32px;
  }

  #open-btn {
    display: block;
    font-size: 10px;
    padding: 0 5px;
    cursor: pointer;
  }

  #close-btn {
    display: block;
    padding: 0 5px;
    cursor: pointer;
  }

}